button {
  background: none;
  appearance: none;
  font-family: inherit;
  border: none;
  color: var(--text);
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

button,
a {
  width: fit-content;
  transition: var(--transition);
  &:disabled {
    opacity: 0.5;
    cursor: default;
  }
}

button,
a {
  &.primary,
  &.secondary,
  &.tertiary,
  &.select {
    font-size: 0.9rem;
    font-weight: bold;
    border: 1px solid transparent;
    border-radius: 5px;
  }

  &.primary,
  &.secondary,
  &.select {
    padding: 5px 15px;
  }

  &.primary {
    letter-spacing: 0.5px;
    background: var(--theme);
    text-shadow: var(--shadow);
    color: var(--text-light);
    border-color: var(--theme);
    &:hover:not(:disabled) {
      border-color: var(--text);
    }
    &.danger {
      background-color: var(--error);
      border-color: var(--error);
    }
  }

  &.secondary {
    color: var(--theme);
    background: var(--panel);
    border-color: var(--panel-border);
    &:hover:not(:disabled) {
      border-color: var(--theme);
      &.danger {
        border-color: var(--error);
      }
    }

    &.danger {
      color: var(--error);
    }
  }

  &.tertiary {
    color: var(--theme);
    &:hover:not(:disabled) {
      color: var(--text);
    }
    &.danger {
      color: var(--error);
    }
  }

  &.select {
    background: var(--panel);
    border-color: var(--panel-border);
    &:hover:not(:disabled) {
      border-color: var(--theme);
    }
    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    svg {
      color: var(--theme);
    }
  }

  &.with-icon {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    svg {
      font-size: 1.2rem;
    }
  }

  &.icon {
    padding: 5px 5px;
    display: flex;
    font-size: 1.2rem;
  }
}
