button,
label.label-button {
  background: none;
  appearance: none;
  font-family: inherit;
  font-size: 0.9rem;
  border: none;
  color: var(--text);
  cursor: pointer;
  font-weight: bold;
  transition: var(--transition);
  transition-property: color, border-color, opacity;
  width: fit-content;
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid var(--theme);

  &:disabled {
    opacity: 0.5;
    cursor: default;
  }

  &:hover:not(:disabled) {
    &:not(.primary) {
      color: var(--text) !important; // sometimes doesn't change color so this is needed
    }

    &:not(.tertiary, .select) {
      border-color: var(--text);
    }
  }

  &.primary {
    background: var(--theme);
    letter-spacing: 1px;
    text-shadow: var(--shadow);
    color: var(--text-light);
    &.danger {
      background-color: var(--error);
      border-color: var(--error);
    }
  }

  &.secondary {
    color: var(--theme);
    &.danger {
      color: var(--error);
      border-color: var(--error);
    }
  }

  &.tertiary {
    color: var(--theme);
    border-color: transparent;
    &.danger {
      color: var(--error);
    }
  }

  &.select {
    background: var(--panel);
    border: 1px solid var(--panel-border);
    padding: 5px 15px;
    border-radius: 5px;
    &:hover:not(:disabled) {
      border-color: var(--theme);
    }
    &.open {
      border-bottom-left-radius: 0;
      border-bottom-right-radius: 0;
    }
    svg {
      color: var(--theme);
    }
  }

  &.with-icon {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    svg {
      font-size: 1.2rem;
    }
  }

  &.icon {
    padding: 3px 5px;
    display: inline-flex;
    align-items: center;
    svg {
      font-size: 1.4rem;
    }
  }
}
