textarea,
input[type='text'],
input[type='password'],
input[type='email'] {
  appearance: none;
  outline: none;
  font-family: inherit;
  font-size: 0.9rem;
  color: var(--text);
  padding: 5px 15px;
  background: var(--panel);
  border: 1px solid var(--panel-border);
  border-radius: 5px;
  transition: var(--transition);
  transition-property: border-color, color;
  &:hover:not(:disabled),
  &:focus:not(:disabled) {
    border-color: var(--theme);
  }
  &:disabled {
    color: var(--text-disabled);
  }
}

textarea {
  max-height: 300px;
  padding: 10px 15px;
  resize: vertical;
}

.radio-label {
  position: relative;
  cursor: pointer;
  input[type='radio'] {
    margin: 2px;
    opacity: 0;
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 0.8rem;
    aspect-ratio: 1 / 1;
    border: 2px solid var(--panel);
    border-radius: 50%;
    outline: 2px solid var(--theme);
    transition: var(--transition);
  }

  &:has(input[type='radio']:checked):before {
    background-color: var(--theme);
  }
}
